:root {
  --primary-colour: pink;
  --max-width: 1200px;
  --max-width-hero-right: 600px;
  --max-width-skills: 1100px;
  --max-width-skills-col: 230px;
  --section-margin-top: 60px;
  --max-width-featproject-card: 400px;
  --text-colour: black;
  --img-border-radius: 20px;
}

.main-page {
  margin: 0 auto;
  padding: 60px 20px;
}

#hero p {
  color: var(--text-colour);
}

/* --------- HERO SECTION ---------- */
#hero {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: 370px 1fr;
  gap: 80px;
  align-items: start;
}

/* LEFT COLUMN */
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portrait {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px 20px;
  display: flex;
  list-style: none;
  margin-right: 10px;
}

#hero button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  transition: transform 0.7s ease-in-out;
  opacity: 100%;
}

.resume-btn {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 7px 16px;
  border: 2px solid black;
  border-radius: var(--img-border-radius);

  text-decoration: none;
  background: none;

  font-size: 16px;
  transition: transform 0.7s ease-in-out;
  opacity: 100%;
}

.resume {
  width: 20px;
  aspect-ratio: 1/1;
  gap: 15px;
  font-size: 20px;
}

.linkedin,
.github {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.email {
  width: 48px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#hero button:hover {
  opacity: 80%;
  transition: 0.3s ease;
}

/* RIGHT COLUMN */
.hero-right {
  max-width: var(--max-width-hero-right);
}

@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
.name1,
.name2 {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-style: italic;
  font-size: 75px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.08em;
  text-align: left;
}

.name2 {
  margin-top: 5px;
  margin-bottom: 45px;
  text-align: right;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.about-me2,
.about-me3 {
  margin-top: 10px;
}

/* ---------------- SKILLS ----------------- */
#skills {
  max-width: var(--max-width-skills);
  margin: 0px auto;
  margin-top: var(--section-margin-top);
  padding: 50px 40px;
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

#skills p {
  margin: 0px 0px 20px calc(var(--max-width-skills-col) + 5px);
  font-size: 18px;
}

#skills h2 {
  font-weight: 600;
  font-size: 20px;
}

#skills li {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  font-size: 20px;
  margin-right: 10px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.skills-div {
  display: grid;
  grid-template-columns: var(--max-width-skills-col) 1fr;
  align-items: center;
  margin-bottom: 30px;
}

.skills-icons, .skills-hl {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 10px;
  align-items: center;
}

.skills-icons img {
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skills-hl {
  gap: 5px 0px;
}

#skills li:hover {
  transform: translateY(-2px);
  transition: 0.3s ease;
}

.learning {
  background-color: rgb(255, 255, 202);
}

/* ---------------- PROJECTS ----------------- */
#projects {
  max-width: calc(var(--max-width) + 100px);
  margin: 0px auto;
  margin-top: var(--section-margin-top);
  padding: 80px 0px;
}

.projects-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 20px;
}

.featproject-card {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-featproject-card);
  border: 1px solid black;
  background-color: rgb(244, 244, 244);
  border-radius: var(--img-border-radius);
  padding: 15px;
}

.featproject-card img {
  border-radius: var(--img-border-radius);
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
}

.featproject-card p {
  font-size: 15px;
}

.featproject-card p:not(.read-more) {
  flex: 1;
}

.read-more {
  margin-top: auto;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.featproject-card h3 {
  font-size: 18px;
}

/* ------------ EXPERIENCE -------------*/
#experience {
  max-width: var(--max-width);
  margin: 0px auto;
  margin-top: var(--section-margin-top);
  padding: 50px 40px;
  margin-bottom: 200px;
}

.experience-cards-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-card {
  display: grid;
  grid-template-columns: 1fr 370px;
  background-color: rgb(255, 237, 240);
  border-radius: var(--img-border-radius);
  padding: 20px;
}

.experience-text {
  padding-right: 40px;
}

.deardaisie-logo {
  width: 150px;
  margin-bottom: -5px;
  margin-left: -3px;
}

.experience-info {
  margin-bottom: 5px;
}

.experience-card li {
  position: relative;
  left: 20px;
}

.experience-img {
  width: 100%;
  border-radius: var(--img-border-radius);
}

.experience-card a {
  color: black;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}
