.projects-h1 {
  margin-top: 30px;
}

.projects-list {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  gap: 15px;
  padding-bottom: 200px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 370px;
  gap: 20px;
  padding: 20px;

  border: 1px solid black;
  background-color: rgb(244, 244, 244);
  border-radius: var(--img-border-radius);
}

.project-card img {
  width: 100%;
  border-radius: var(--img-border-radius);
}

.project-card-text {
  display: flex;
  flex-direction: column;
}

.project-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  margin-top: 10px;
}

.project-skills li {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 1px 5px;
}

.project-skills img {
  width: 18px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-right: 5px;
  border-radius: 0;
}

.project-card a {
  font-size: 16px;
  cursor: pointer;
  color: black;
  text-decoration: underline;
  margin-top: auto;
}

.project-card .link-margin {
  margin-top: 20px;
}

#schematics {
  grid-column: 1 / -1;
  max-width: 100%;
  padding: 0px 20px;
}

#schematics li {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#schematics img {
  border-radius: 0px;
}

#schematics li.pcb12 {
  display: flex;
  flex-direction: row;
}

#schematics li.pcb12 img {
  width: 50%;
  object-fit: cover;
}

.project-card .bulleted-list {
  margin-left: 15px;
}
