.projects-h1 {
  margin-top: 30px;
}

.projects-list {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  gap: 15px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 370px;
  gap: 20px;
  padding: 20px;

  border: 1px solid black;
  background-color: rgb(244, 244, 244);
  border-radius: var(--img-border-radius);
}

.project-card img {
  width: 100%;
  border-radius: var(--img-border-radius);
}

.project-card-text {
  display: flex;
  flex-direction: column;
}

.project-card-text p:not(.read-more) {
  margin-top: 10px;
}

.project-skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  margin-top: 10px;
}

.project-skills li {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 1px 5px;
}

.project-skills img {
  width: 18px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-right: 5px;
  border-radius: 0;
}

.read-more {
  margin-top: auto;
  font-size: 16px;
  cursor: pointer;
}


